* {
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.header {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: #808080;
    padding: 6px 0px;
    font-size: 13px;

    .flex {
        display: flex;
        gap: 30px;
    }

    & i {
        cursor: pointer;
    }
}

.line {
    color: #808080;

}

.nav-bar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    color: #808080;

    & img {
        width: 12%;

    }

    .navs ul li {
        margin-top: 7px;
        list-style: none;
        display: inline-block;
        margin-left: 15px;
        cursor: pointer;
        

        & button {
            background-color: #1456A3;
            padding: 9px 25px;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}
.navs ul li:hover{
    color: #1456A3;
}
.active{
    color: #0a4385;
}

.main {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(./Assets/pic1.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    margin-bottom: 20px;

    & h4 {
        color: rgb(197, 198, 199);
        font-size: 20px;
        font-weight: 200;
        margin-left: 60px;
        padding-top: 180px;


    }

    & h1 {
        color: white;
        font-weight: 600;
        font-size: 50px;
        margin-left: 60px;
        margin-top: 10px;
    }

    & p {
        color: rgb(197, 198, 199);
        margin-left: 60px;
        margin-top: 10px;
    }

    & button {
        margin-left: 60px;
        margin-top: 30px;
        background-color: #1456A3;
        padding: 15px 25px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 15px;
    }
}

.info {
    position: absolute;
    top: 710px;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: white;
    box-shadow: 5px 5px 6px whitesmoke;
    height: 190px;


    .sub-info {
        display: flex;
        padding-top: 20px;

        .fa-solid {
            font-size: 35px;
            color: #d4d4d4;
            margin-left: 10px;
        }

        & p {
            color: #808080;
            margin-bottom: 10px;
            margin-right: 25px;
        }

        & a {
            color: #5b5a5a;
            font-size: 20px;
            font-weight: 400;
            text-decoration: none;

            .fa-arrow-right {
                font-size: 18px;


            }
        }

        & a:hover {
            color: #0a4385;

            .fa-arrow-right {
                color: #0a4385;
            }
        }

        & h2 {
            font-weight: 500;
            margin-bottom: 5px;
        }

        .fa-graduation-cap {
            margin-right: 35px;
        }
    }
}

.vl {
    border: 1px solid #f3f1f1;

}

.about {
    margin: 130px auto;
    width: 90%;
    display: flex;

    & h3 {
        color: #1456A3;
        margin-bottom: 15px;
    }

    & h1 {
        margin-bottom: 20px;
        font-weight: 600;
    }
}

.main-blue {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 110px;

}

.blue {
    background-color: #1456A3;
    height: 610px;
    width: 57%;
    overflow: hidden;
    border-radius: 15px;
    padding-left: 40px;
    position: relative;

    .pic4 {

        float: right;

    }

    .pic5 {
        float: right;
        position: absolute;
        bottom: 0;
    }

    & h3 {
        margin-top: 70px;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 400;
        color: whitesmoke;
    }

    & h2 {
        margin-bottom: 15px;
        color: white;
        font-size: 35px;
        font-weight: 600;
    }

    & p {
        margin-bottom: 60px;
        color: whitesmoke;
    }

    & button {
        background-color: white;
        color: black;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 15px;
    }

    & button:hover {
        background-color: rgb(7, 7, 133);
        color: white;

    }
}

.data {
    & h1 {
        font-weight: 600;
        margin-bottom: 10px;
    }

    & p {
        font-weight: 300;
        color: #808080;
    }

    .data-flex {
        margin-top: 22px;
        display: flex;
        gap: 50px;

        & h3 {
            margin-bottom: 15px;
        }

        & p {
            margin-bottom: 20px;
        }

        & a {
            text-decoration: none;
            color: black;
            font-size: 17px;
        }

        .icon {
            width: 37px;
            height: 37px;
            background-color: #F3F1FF;
            padding: 10px 15px;
            text-align: center;
        }
    }
}

.sheer {
    width: 100%;
    background-color: #F8F8F8;
}

.sub-sheer {
    width: 90%;
    margin: auto;

    & h4 {
        color: #0a4385;
        font-size: 17px;
        margin-bottom: 15px;
    }

    .sheer-flex {
        display: flex;
        justify-content: space-between;
        padding-bottom: 100px;

        & h3 {
            font-size: 28px;
            font-weight: 500;
        }

        & p {
            color: #808080;
        }



    }


}

.box {
    display: flex;
    justify-content: space-between;

    .sub-box {
        background-color: white;
        box-shadow: 1px 1px 10px rgb(160, 159, 159);
        padding: 35px;
        height: 350px;
        border-radius: 10px;
        margin-bottom: 40px;

        .no {
            float: right;
            font-size: 35px;
            font-weight: 900;
            color: #0a4385;
        }

        .ico {
            margin-top: 40px;
            font-size: 35px;
            margin-bottom: 20px;
        }

        & p {
            color: #808080;
        }

        .fa-comments {
            color: #FD6A12;
        }

        .fa-book-open-reader {
            color: #F1137B;
        }

        .fa-bullseye {
            color: #11D5E6;
        }

        .fa-headphones-simple {
            color: #7AEDD1;
        }

        .fa-plane-departure {
            color: #780FDA;
        }

        .fa-plane-arrival {
            color: #189FFD;
        }

        .fa-plane-circle-check {
            color: black;
        }

        .fa-coins {
            color: #F1137B;
        }

        .fa-language {
            color: #11D5E6;
        }




    }
}

.b1:hover {
    background-color: #FD6A12;

    & p {
        color: white;
    }

    .fa-solid {
        color: white;
    }

    & h4 {
        color: white;
    }
}

.b2:hover {
    background-color: #F1137B;

    & p {
        color: white;
    }

    .fa-solid {
        color: white;
    }

    & h4 {
        color: white;
    }
}

.b3:hover {
    background-color: #11D5E6;

    & p {
        color: white;
    }

    .fa-solid {
        color: white;
    }

    & h4 {
        color: white;
    }
}

.b4:hover {
    background-color: #7AEDD1;

    & p {
        color: white;
    }

    .fa-solid {
        color: white;
    }

    & h4 {
        color: white;
    }
}

.b5:hover {
    background-color: #780FDA;

    & p {
        color: white;
    }

    .fa-solid {
        color: white;
    }

    & h4 {
        color: white;
    }
}

.b6:hover {
    background-color: #189FFD;

    & p {
        color: white;
    }

    .fa-solid {
        color: white;
    }

    & h4 {
        color: white;
    }
}

.b7:hover {
    background-color: #FD6A12;

    & p {
        color: white;
    }

    .fa-solid {
        color: white;
    }

    & h4 {
        color: white;
    }
}

.b8:hover {
    background-color: #F1137B;

    & p {
        color: white;
    }

    .fa-solid {
        color: white;
    }

    & h4 {
        color: white;
    }
}

.b9:hover {
    background-color: #11D5E6;

    & p {
        color: white;
    }

    .fa-solid {
        color: white;
    }

    & h4 {
        color: white;
    }

}

.FAVOURITE {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;

    & h4 {
        padding-top: 20px;
        color: #0a4385;
        font-weight: 600;
    }

    & p {
        color: #808080;
        margin-top: 45px;
    }

    & h1 {
        font-weight: 600;
    }
}

.main-coun {
    width: 90%;
    margin: auto;
}

.country {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    & img {
        width: 350px;
        height: 220px;
        border-radius: 10px;
    }

    .span-coun {
        position: relative;

        & span {
            position: absolute;
            top: 15px;
            right: 15px;
            font-weight: 500;
            font-size: 20px;
            color: white;
            text-shadow: 2px 2px 2px black;

        }
    }
}

.main-course {
    width: 100%;
    background-color: #F8F8F8;

    .courses {
        width: 90%;
        margin: auto;
        text-align: center;

        & h4 {
            padding-top: 40px;
            color: #0a4385;
            font-weight: 600;
            font-size: 20px;
        }

        & h1 {
            font-weight: 600;
        }
    }
}

.main-digi {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .digital {
        margin-top: 20px;
        background-color: white;
        box-shadow: 1px 1px 5px rgb(181, 180, 180);
        height: 420px;
        padding: 30px;
        margin-bottom: 20px;
        border-radius: 4px;

        & p {

            color: #808080;
        }


        & h3 {
            margin-top: 10px;
            font-weight: 400;
            margin-bottom: 5px;
        }

        .course-pic {
            height: 170px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .tutor {
            height: 20px;
            border-radius: 50%;
        }

        .felx {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;


            .tut {
                border: 1px solid black;
                padding: 7px;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                gap: 10px;

                & span {
                    font-size: 13px;
                    color: #5b5a5a;
                }
            }
        }
    }

    .di {
        color: #0a4385;
        background-color: #bcd1e8;
        display: inline;
        padding: 3px;
        border-radius: 5px;

    }
}
.book{
    color: #808080;
}