* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


}

.header {

    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
  
    

    .mode {
        cursor: pointer;
    }

    & nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 999;
      

    }

    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 0 10px;
        cursor: pointer;
      

    }

    .nav-links ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background-color: black;
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    .nav-links ul li:hover::after {
        width: 100%;
    }

    .search-box {
        display: flex;
        gap: 12px;

        .search {
            display: flex;
            align-items: center;
            background-color: #F4F4F5;
            height: 30px;
            border-radius: 5px;

            .search-img {
                padding-right: 8px;
                padding-top: 4px;
            }

            .search-bar {
                border: none;
                outline: none;
                background-color: #F4F4F5;
                padding: 0px 8px;
            }


        }

    }

}

.bottom {
    width: 80%;
    margin: 30px auto;
    padding-bottom: 50px;
    border-radius: 10px;
  

    .data {
        position: relative;

    }


    .img {

        width: 100%;
        height: 480px;
        position: relative;
    }

    .pic-data {
        background-color: #fff;
        border-radius: 10px;
        height: 235px;
        width: 430px;
        top: 335px;
        left: 60px;
        position: absolute;
        z-index: 2;
        padding: 20px 0px 0px 15px;
        box-shadow: 0px 12px 24px -6px #181A2A1F;



    }

    .author {
        padding-top: 10px;
        display: flex;
        gap: 10px;
        font-weight: 200;

    }

    .tecnology-a {
        color: white;
        margin-bottom: 10px;
        background-color: #4B6BFB;
        border-radius: 5px;
        width: fit-content;

    }

}

.author {
    padding-top: 20px;
    display: flex;
    gap: 10px;
    font-weight: 200;
    font-size: 14px;
    align-items: center;

}

.tecnology {
    color: #4B6BFB;
    background-color: #F6F8FF;
    border-radius: 5px;
    width: fit-content;

}

.Adverisement {
    background-color: #E8E8EA;
    width: 65%;
    margin: 100px auto;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0px;
    color: #696A75;

}

.post {
    width: 80%;
    margin: 20px auto;
    position: relative;

    .post-img {
        width: 100%;

    }
}

.post-data {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    padding: 15px 0px 10px 15px;
    box-shadow: 0px 12px 24px -6px #181A2A1F;



}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 30px;
}

.col {
    border: 1px solid #E8E8EA;
    border-radius: 5px;
    padding: 12px;
    box-sizing: border-box;
}

.btn {

    background-color: white;
    color: #696A75;
    border: 1px solid #696A75;
    padding: 6px;
    position: absolute;
    left: 50%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
}

.fotter {
    width: 100%;
    height: 420px;
    background-color: #E8E8EA;
}

.p {
    font-size: 13px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 15px;
}

.row-ftr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    width: 80%;
    margin: 20px auto;

}


.ftr-ln li {
    padding: 5px 70px;
    list-style: none;
    font-weight: 300;
    padding: 5px 70px;
}

.head {
    font-weight: 450;
}

.heading {
    font-weight: 450;
    padding-left: 68px;

}

.mail {
    height: 35px;
    width: 230px;
    border: 1px solid #E8E8EA;
    border-radius: 7px;
    margin-bottom: 9px;
    outline: none;
}

.mail-box {
    margin-top: 40px;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    /* height: fit-content; */
}

.s-btn {
    background-color: #4B6BFB;
    color: white;
    border: 1px solid #4B6BFB;
    padding: 6px;
    border-radius: 7px;
    height: 35px;
    width: 230px;
    cursor: pointer;
    margin-top: 10px;


}

.s-btn:hover {
    background-color: #E8E8EA;
    color: #4B6BFB;
    border: 1px solid #E8E8EA;
}

.line {

    color: #E8E8EA;
    width: 80%;
    margin: 33px auto 8px auto;
}

.cp-img {
    height: 35px;
}

.bio {
    width: 80%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa {
    color: red;
}

.ftr-col {
    padding-top: 40px;
}

.spc {
    padding-top: 0px;
}

nav .fa {
    display: none;

}

@media(max-width:900px) {

    .row {
        grid-template-columns: 1fr 1fr;
    }

    .row-ftr {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0px;

    }

    .ftr-ln li {
        padding: 5px 53px;
    }

    .heading {
        padding-left: 52px;
    }

    .fotter {
        width: 100%;
        height: 650px;
        background-color: #E8E8EA;
        position: relative;
    }

    .last {
        margin-bottom: 50px;
    }

    nav .fa {
        display: block;
        font-size: 22px;
        cursor: pointer;
        margin: 8px;
        color: black;
    }

    .nav-links ul li {
        display: block;
        padding: 15px 305px;
    }

    .nav-links {
        position: absolute;
        background-color: whitesmoke;
        height: 100vh;
        width: 170px;
        top: 0;
        right: -500px;
        z-index: 2;
        transition: 0.5s;
    }

}




@media(max-width:700px) {
  
    .nav-links ul li{
        margin: 15px 25px;
        font-size: 18px;
    }
    .fa-times{
        padding: 10px;
    }
    .header {
        overflow: hidden;
        width: 95%;
        & nav{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            
        }
    }

    .row {
        grid-template-columns: 1fr;
        
    }

    .logo {
        height: 25px;
    }

  

    .nav-links {
        background-color:  whitesmoke;
        height: 100vh;
        top: 0;
        width: 170px;
        right: -200px;
        position: absolute;
        z-index: 3;
        transition: 0.5s;
    }

    nav .fa {
        display: block;
        font-size: 22px;
        cursor: pointer;
        margin: 8px;
    }

    .search-box {
        padding-left: 0px;
        width: 40px;
    }

    .bottom {
        width: 95%;

        & img {
            width: 100%;
          
        }

        .pic-data {
            top: 380px;
            left: 30px;
            width: 230px;
            padding: 12px;
            height: 150px;

            .tecnology-a {
                font-size: 12px;
            }

            & h2 {
                font-size: 13px;
            }

            .author {
                font-size: 10px;

                & img {
                    height: 30px;
                }
            }
        }
    }
    .Adverisement{
        width: 95%;
        font-size: 10px;
    }
    .mode{
        display: none;
    }
    .fa-bars{
        padding-left: 90px;
    }
    .row-ftr{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .col1{
        grid-column-start: 1;
        grid-column-end: 3;
        width: 350px;
       
    }
    .col2{
     padding-left: opx;
       gap: 0px;

    }
    .col3{
        gap: 0px;
        padding-left: 1px;
        margin-left: 1px;
        position: absolute;
        right: 0%;
        top: 33.3%;
    }
    .mail-box{
        width: 300px;
     position: absolute;
     bottom: 0%;
       
       
    }
    .bio{
        font-size: 11px;
    }
.cp-img{
    height: 22px;

}
.fotter{
    height: 900px;
}

}
@media(max-width:690px){
.search-box{
    padding-left: 05px;
}
.search-img{
    z-index: 5;
}
}